@import url(http://weloveiconfonts.com/api/?family=entypo|zocial);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/*.scroller{  
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
          scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100% 0%;
      -ms-scroll-snap-destination: 100% 0%;
          scroll-snap-destination: 100% 0%;
}*/


#main {
  width: 100%;
  margin: auto;
}

.panel {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.ph {
  background-color: #484848;
}

.pw{
    background-color: #fff;
}

.content{
  max-width: 1200px;
  margin: auto;
}

/*.clear-fix {
  overflow: auto;
}
*/
.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 4em;
  color: #f5a623;
  /*line-height: 48px;*/;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 2.5em;
  color: #f3f3f3;
  line-height: 28px;
  width: 100%;
  text-align: center;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

#topContactsICON {
  width: 50%;
  margin: 0 25% 5vh 25%;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  padding: 2em 0 2em 0;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: auto;
}

.flex-item {
  font-size: 2em;
}

.center-content {
  width: 100%;
}

ul {
  list-style-type: none;
}

.biopic {
  margin: 0 auto;
  width: 200px;
  display: block;
  border-radius: 50%;
}

#name {
  margin: auto;
  width: 100%;
  text-align: center;
}

#title {
  font-size: 2em;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 5vh;
  box-sizing: border-box;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  };
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 50vw;
  };
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .welcome-message {
    display: none;
  };
}

#map {
  display: block;
  height: 80%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 0;
  padding-bottom: 5%;
  height: 100vh;
  box-sizing: border-box;
}

@media only screen and (min-width: 750px) {
  #skills-h3 {
    display: block;
  };
}
