@import url(http://weloveiconfonts.com/api/?family=entypo|zocial);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  margin: auto;
}

.inner {
  display: flex;
  text-align: left;
  margin: auto;
}

.inner-wrap {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #484848;
  display: inline-block;
  z-index: 100;
}

.header {
  padding: 0em 0 2em 0;
}

.picdiv {
  width: 15%;
  border-right: 5px solid #fff;
  padding-right: 1vw;
}

.namediv {
  width: 55%;
  padding-left: 1vw;
}

.biopic {
  margin: 0 auto;
  width: 20vh;
  display: block;
  border-radius: 50%;
  margin: 1vh;
  margin-right: 0;
  padding: 0;
  float: right;
}

.name {
  font-size: 8vh;
  width: 100%;
  margin-top: 4.5vh;
  line-height: 8vh;
}

.title {
  font-size: 4vh;
  margin: 0;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 4.5vh;
  box-sizing: border-box;
  line-height: 4vh;
}

.topContactsICON {
  width: 5%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  vertical-align: middle;
}

.topContacts {
  width: 25%;
  padding: 1vh;
  border-left: 5px solid #fff;
}

.panel {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.ph {
  background-color: #484848;
  padding-top: 22vh;
}

.pw {
  background-color: #fff;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 4em;
  color: #f5a623;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 2.5em;
  color: #f3f3f3;
  line-height: 28px;
  width: 100%;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}

.skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  color: #fff;
}

.bottom-text{
  width: 33.333333%;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  font-size: 3vh;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  line-height: 5vh;
}

.flex-item-text {
  font-size: 3vh;
  line-height: 5vh;
}

.flex-item-icon {
  font-size: 4vh;
  line-height: 4vh;
  text-align: center;
}

.center-content {
  width: 100%;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.lets-connect {
  text-align: center;
}

.lets-connectTEXT {
  width: 100%;
  display: flex;
}

.lets-connectTEXT li {
  width: 33.33333%;
  box-sizing: border-box;
  text-align: center;
}

.lets-connectTEXT span {
  box-sizing: border-box;
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  .lets-connect {
    margin-top: 5%;
  };
}

@media only screen and (max-width: 750px) {
  .lets-connect {
    margin-top: 10%;
  }

  .welcome-message {
    display: none;
  };
}

.map {
  display: block;
  height: 80%;
  margin: 2%;
}

.mapDiv {
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 750px) {
  #skills-h3 {
    display: block;
  };
}